<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>Echo</title>
    </head>
    <body id="musicPage">
        <div id="musicApp" class="container">
            <h1 class="title"> Echo is <b id="musicbotState">{{ state }}</b> in <b id="musicBotChannel">{{ channel }}</b></h1>
            <h1 class="title error" v-bind:class="{infoActive: errorActive}">Error: {{ errorMessage }}</h1>
            <form v-if="!linkCheck()" v-on:submit="userLink" onsubmit="return false" class="searchForm">
                <input ref="linkField" type="text" name="" placeholder="PASTE LINK TOKEN HERE" value="">
                <p>Write <b>!link</b> to Echo in a PM and paste the link token he gives you into the field above</p>
            </form>
            <form v-if="linkCheck()" v-on:submit="songSearch" onsubmit="return false" class="searchForm" action="">
                <input ref="songField" type="text" name="" placeholder="SEARCH" value="">
            </form>
            <ul class="queue">
                <li v-for="queueItem in queue" class="queueItem">
                    <div class="currentSong inQueue" v-bind:class="{justAdded: queueItem.justAdded}">
                        <img v-bind:src="queueItem.albumArt">
                        <ul>
                            <li>{{ queueItem.meta.title }}</li>
                            <li>{{ queueItem.meta.artist }}</li>
                            <li>{{ queueItem.meta.album }}</li>
                        </ul>
                        <div class="selector">
                            <img v-bind:src="queueItem.selector.avatar">
                            <p>{{ queueItem.selector.name }}</p>
                        </div>
                </li>
                <div class="progressBarContainer">
                    <div v-bind:style="progressBar" class="currentSongProgress"></div>
                    <p id="time">{{ timeCurrentFormatted }} / {{ timeFormatted }}</p>
                </div>
            </ul>
            <div v-if="linkCheck()" id="buttons" class="buttons">
                <button v-on:click='nuke' type="button">NUKE</button>
                <button v-on:click='joinToggle' id="joinToggle" type="button">{{ joinToggleText }}</button>
                <button v-on:click='skip' type="button">SKIP</button>
            </div>
        </div>
    </body>
    <script src="../js/tokens.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="../js/cookiechecker.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js" charset="utf-8"></script>
    <script src="../js/musicBotWeb.js" charset="utf-8"></script>
</html>
