html {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
button:focus {outline:0;}
#musicPage {
    background: #e0d9c3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#musicPage .container {
    width: 100%;
    height: 100%;
    background: #3a4246;
    position: relative;
    display: flex;
    flex-flow: column;
}
#musicPage .title {
    color: #fff;
    background: #71c986;
    width: 100%;
    line-height: 60px;
    margin: 0px;
    text-align: center;
    font-weight: normal;
    position: relative;
    z-index: 1
}
#musicPage .error {
    position: absolute;
    background: #d25144;
    margin-top: 0px;
    transition: 1s;
    z-index: 0
}
#musicPage .info {
    position: absolute;
    background: #3fa9ef;
    margin-top: -60px;
    transition: 1s;
    z-index: 0
}
#musicPage .infoActive {
    margin-top: 60px;
}
#musicPage .searchForm {
    border-bottom: 2px solid #4e5759;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 180px;
}
#musicPage .searchForm input {
    width: 70%;;
    font-size: 3em;
    background: #3a4246;
    border: none;
    margin: 28px;
    border-bottom: 2px solid #4e5759;
    color: #bdc3c7;
}
#musicPage .searchForm input:focus {
    outline-width: 0;
}
#musicPage .queue {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 85px;
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
#musicPage .queue .queueItem:nth-child(even) .inQueue {
    background: #2c3235;
}
#musicPage .queue::-webkit-scrollbar-track {
    display: none;
	border-radius: 10px;
    position: absolute;
	background-color: #475054;
}
#musicPage .queue::-webkit-scrollbar {
    display: none;
    position: absolute;
	width: 6px;
	background-color: #475054;
    border-radius: 10px;
}
#musicPage .queue::-webkit-scrollbar-thumb {
    display: none;
    position: absolute;
	background-color: #bdc3c7;
    border-radius: 10px;
}
#musicPage .queue .queueItem {
    width: 100%;
    min-height: 120px;
    height: 120px;
    overflow: hidden;
    transition: 1s;
}
#musicPage .queue .inQueue {
    position: relative;
    bottom: inherit;
    transition: 1s;
}
#musicPage .currentSong {
    position: absolute;
    bottom: 85px;
    height: 120px;
    width: 100%;
    display: flex;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid #222;
    z-index: 1;
}
#musicPage .queue .justAdded {
    margin-top: 120px;
}
#musicPage .currentSong img {
    height: 120px;
    width: auto;
}
#musicPage .currentSong ul {
    list-style: none;
    padding: 0px;
    margin: 0px 10px;
    font-size: 1.5em;
    align-self: center;
}
#musicPage .currentSong ul li {
    padding: 2px 0px;
}
#musicPage .currentSong .selector {
    width: 260px;
    margin-left: auto;
    display: flex;
    align-items: center;
    background: #71c986;
    font-size: 1.3em;
}
#musicPage .currentSong .selector img {
    height: 60px;
    margin: 0px 10px 0px 20px;
    width: auto;
    border-radius: 500px;
}
#musicPage #time {
    color: #fff;
    top: -22px;
    right: 10px;
    line-height: 120px;
    direction: ltr;
    position: absolute;
    font-size: 1.4em;
}
#musicPage .progressBarContainer {
    height: 120px;
    position: absolute;
    margin-left: 120px;
    overflow: hidden;
    width: calc(100% - 380px); /* 120px (margin) + 260px (selector) = 380px; */
}
#musicPage .currentSongProgress {
    height: 100%;
    opacity: .25;
    background: #71c986;
    transition: 1s;
    transition-timing-function: linear;
    transform: translate3d(0, 0, 0);
}
#musicPage .buttons {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 4px solid #4e5759;
}
#musicPage .buttons button {
    height: 80px;
    width: 25%;
    border: none;
    cursor: pointer;
    font-size: 2em;
    background: none;
    color: #ecf0f1;
    font-weight: bold;
}
#musicPage .buttons button:nth-child(2) {
    flex-grow: 2;
    background: #353c40
}
